/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    background: rgb(0,150,136);   
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 20%, rgba(217,217,217,1) 20%);
}

/* COMMON */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
}

.img-profile {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.icons-container span {
    padding-left: 10px;
}

.user-container {
    display: flex;
    justify-content: space-between;
}
.user-info {
    display: flex;
}
.chat-container {
    border-top: 1px solid lightgray;
}

.chat-container:first-child {
    border-top: 1px solid #fafafa;
}

.chat-container img {
    margin: 10px 15px;
}

.username {
    padding-top: 10px;
    font-weight: 500;
}

/* .user-info {
    display: flex;
} */

.last-login,
.last-message,
.last-message-time {
    color: #b1b1b1;
    font-size: 11px;
}

.last-message {
    padding-top: 3px;
}

.last-message-time {
    padding-top: 15px;
    padding-right: 3px;
    
}

.icons-container {
    color: #b1b1b1;
}

.active {
    background-color: #e8ebeb;
}

/* Messages */
.message {
    width: 45%;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.text-chat {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.time-chat {
    font-size: 8px;
    text-align: right;
    padding-top: 3px;
    color: #b6b9bb;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
}

.chevron-down {
    color: #6a7376;
    display: none; 
    cursor: pointer;
}

.menu {
    font-size: 10px;
    text-align: center;
    background-color: #ffffff;
    width: 120px;
    padding: 10px 5px 10px 15px;
    position: absolute;
    top: 22px;
    right: 16px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
}

.menu div {
    text-align: left ;
    padding: 5px;
}

.message:hover .chevron-down {
    display: inline-block;  
}


/* END COMMON */

.app-wrapper {
    width: 100%;
    min-width: 950px;
    height: 100vh;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

/* MAIN */
main {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

/* Left Nav */
.left-nav {
    background-color: #ffffff;
    width: 35%;
}

.notices-section {
    background-color: #8ddafb ;
    display: flex;
    align-items: center;
    height: 70px;
}

.bell {
    padding: 15px 20px;
}

.bell i {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #8ddafb;
    border-radius: 50%;
    padding: 10px;   
}

.notice-msg div {
    font-weight: 400;
}

.notice-msg a {
    color: #b1b1b1;
    font-size: 14px;
}

.input {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fafafa;
    height: 50px;
}

.left-nav .input span {
    background-color: #ffffff;
}

.input i {
    color: #b6b9bb;
    padding: 10px 30px;
    border: 1px solid #eaeaea;
    border-right: none;
}

.input input {
    width:100%;
    border: none;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-left: none;
}

.chats {
    height: calc(100% - 190px);
    overflow-y: auto;
    cursor: pointer;
}
/* END Left Nav */

/* Chat Body */
.chat-body {
    width: 65%;
}

.chat-body .header-content {
    border-left: 1px solid lightgray;
}

/* Chat Room */
.chat-room {
    background-image: url(../img/mine.jpg);
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.chat-body .input {
    background: #f3eeea;
}

.chat-body .input i {
    padding: 10px 30px;
    color: #6a7376;
}

.chat-body input {
    border-radius: 10px;
}
/* END Chat Room */

/* END MAIN */